<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <settings>
    <!-- 注:似乎有种说法,除了这里要true,在myBatis配置文件里也要配一遍 -->
        <setting name="mapUnderscoreToCamelCase" value="true"/>
    </settings>

</configuration>